@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
.fHcontainer{
position: absolute;
width: 100%;
height: 488px;
left: 0px;
top: 118.6rem;
background: #2D4849;
}
.footer12{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: #F9F8F3;
    margin-top: -1rem;
    width: 25rem;
    text-decoration: none;
}
.fotterH_all{
display: flex;
justify-content: space-evenly;
margin-top: 2rem;
}
.link{
    cursor: pointer;
}
.fotter1H p{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: #F9F8F3;
    margin-top: -1rem;
}

.fotter2H h1{
    font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 13px;
line-height: 18px;
/* identical to box height, or 138% */

letter-spacing: 1px;
text-transform: uppercase;

color: #FEEAA5;
}
.fotter3H h1{
    font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 13px;
line-height: 18px;
/* identical to box height, or 138% */

letter-spacing: 1px;
text-transform: uppercase;

color: #FEEAA5;
}
.fotter4H h1{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 18px;
    /* identical to box height, or 56% */
    
    letter-spacing: 1px;
    text-transform: uppercase;
    
    /* secondary/UI color 1 */
    
    color: #FEEAA5;
}
.fotter4H .feildH{
    position: absolute;
width: 300px;
border: none;
height: 45px;

top: 80px;
border-radius: 80px;
}
.fotter4H button{
    position: absolute;
width: 300px;
height: 45px;
background: #FDB137;
border-radius: 50px;
font-family: 'Poppins';
border: none;
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 24px;
text-align: center;
color: #FFFFFF;
top: 9rem;
}
.fotterH_all p{
font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 24px;
color: #F9F8F3;
}
.fotter2H{
    margin-top: 3rem;
}
.fotter3H{
    margin-top: 3rem;
}
@media only screen and (max-width:1024px) {
    .fotterH_all{
        display: flex;
        justify-content: center;
        flex-direction: column;
        margin-top: 2rem;
        }
        .fHcontainer{
            position: absolute;
        width: 100%;
        height: 100%;
        left: 0px;
        top: 325rem;
        background: #2D4849;
        }  
        .fotter4H .feildH{
            position: absolute;
        width: 354.51px;
        height: 55px;
        
        top: 36rem;
        border-radius: 80px;
        }
        .fotter4H button{
            position: absolute;
        width: 354.51px;
        height: 55px;
        background: #FDB137;
        border-radius: 50px;
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 700;
        font-size: 20px;
        line-height: 24px;
        text-align: center;
        color: #FFFFFF;
        top: 40rem;
        }
}