.search {
box-sizing: border-box;
position: absolute;
height: 3rem;
width: 25rem;
left: 65rem;
right: 0px;
top: 1rem;
background: #E6F0F0;
border: 1px solid #F9F8F3;
border-radius: 1rem;
}

input[type=text] {
   padding: 1.5rem;
}

.searchBtn {
position: absolute;
width: 2.3rem;
height: 2.3rem;
left: 87rem;
top: 1.3rem;
background: #FDB137;
border-radius: 100px;
border: none;
color: #fff;
}