.navbek{
   
    height: 550px;
    padding: 50px;
    align-items: center;
    background-color: #E6F0F0;
}

.homebek{
    display: flex;
flex-direction: row;
align-items: flex-start;
padding: 0px 364.781px 0.5px 0px;
gap: 12.22px;

position: absolute;
width: 534px;
height: 26.5px;
left: 171px;
top: 308.75px;

font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 17px;
line-height: 26px;
/* identical to box height, or 150% */

display: flex;
align-items: center;

/* Primary/primary 2 */

color: #2D4849;
margin-left: 8rem;
}
.fottcut123{
    margin-top: -67rem;

}
.contact-us{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px 364.781px 0.5px 0px;
    gap: 12.22px;
    
    position: absolute;
    width: 534px;
    height: 26.5px;
    left: 191px;
    top: 308.75px;
}
.mapbek{
    display: flex;
    flex-direction: row;
    position: absolute;
width: 70%;
height: 50%;
top: 645px;
margin-left: 10rem;
margin-right: auto;
}


.begbek{
    position: absolute;
left: 907.19px;
right: 437.81px;
top: 258.5px;
bottom: 118.5px;
}
.contact-us2{
    margin-top: 20rem;
    margin-left: 15rem;

}
.bdo{
    margin-left: 0.5rem;
    color: #FDB137;
}
.teacherbek{
    position: absolute;
width: 204px;
height: 204px;
left: 1151px;
top: 247px;

}

.leftbek{
  
    background: #E6F0F0;
   
    background: #E6F0F0;
    

margin-top: 85rem;
margin-left: 2rem;
margin-bottom: 40rem;
flex-flow: row;
flex-direction: column;
align-items: flex-start;
padding: 20px 20px;
position: absolute;
width: 562px;
height: 550px;
left: 15px;
top: 50px;

}
.rightbek{
   

    background: #ffffff;
    


margin-top: 85rem;
margin-left: 40rem;
margin-bottom: 40rem;
display: flex;
flex-direction: column;
align-items: center;
padding: 70px 60px;

position: absolute;
width: 562px;
height: 550px;
left: 15px;
top: 50px;

}

.callsbek{
    font-size: small;
  margin-left: 4rem;
  margin-top: -86px;
    color: #2D4849;
    
}
.icobek{
    
    font-size: 2rem;
}
.callss{
    font-size: small;
    margin-left: 4rem;
   margin-top: -34px;

      color: #2D4849;
       }
      
.callsss{
    font-size: large;
    margin-left: 4rem;
   margin-top: -40px;
      color: #2D4849;
       }
  .icos{
      margin-top: 30px;
      font-size: 2rem;
  }
  .icoss{
      margin-top: 90px;
      font-size: 2rem;
  }
.input{
    border-radius: 25px;
    list-style-type: none;  
    line-height: 2.5em;
    float: left;
    height: 60px;
}

.button1bek {
    background-color: #FDB137;
    color: rgb(255, 255, 255); 
    border-radius: 12px;
    height: 60px;
    width: 100%;
    align-items: center;
    margin-top: 23px;


  }
  
  .button1bek:hover {
    background-color: rgb(255, 255, 255);
    color: #FDB137;
    border-radius: 12px;
    height: 60px;
    width: 100%;
    
  }
  input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
//   input[type=submit] {
//     width: 100%;
//     background-color: #4CAF50;
//     color: white;
//     padding: 14px 20px;
//     margin: 8px 0;
//     border: none;
//     border-radius: 4px;
//     cursor: pointer;
//   }

textarea {
    width: 100%;
    height: 150px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    background-color: #f8f8f8;
    font-size: 16px;
    resize: none;
  }


  .contact-us22{
    margin-top: -4.5rem;
    font-size: large;
   

}
.bdo22{
    
    color: #FDB137;
}